<div [ngSwitch]="selectedCar">
    <div *ngSwitchCase="'Skoda-Fabia'">
        <h1 class="text-center">{{selectedCar}}</h1>
        <img src="./assets/pics/skoda-fabia-new-Front.jpg" class="rounded mx-auto d-block" alt="" width="300">
    </div>
    <div *ngSwitchCase="'Toyota-Yaris'">
        <h1 class="text-center">{{selectedCar}}</h1>
        <img src="./assets/pics/2020-toyota-gr-yaris.jpg" class="rounded mx-auto d-block" alt="" width="300">
    </div>
    <div *ngSwitchCase="'Honda-Civic'">
        <h1 class="text-center">{{selectedCar}}</h1>
        <img src="./assets/pics/2022-honda-civic-si-2.jpg" class="rounded mx-auto d-block" alt="" width="300">
    </div>
</div>